<IfModule mod_rewrite.c>

	RewriteEngine on
	Options +FollowSymLinks
	RewriteBase /

	# -----------------------------------------------------
	# production
	# -----------------------------------------------------

	# study room for sakurai
	RewriteCond %{HTTP_HOST} ^111\.171\.217\.119$ [NC]
	RewriteCond $1 ^index\.(php|html)$ [OR]
	RewriteCond $1 ^(top)
	RewriteRule ^(.*)$ / [R=301,L]

	RewriteCond %{HTTP_HOST} ^111\.171\.217\.119$ [NC]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d [OR]
	RewriteCond %{REQUEST_URI} ^/$ 
	RewriteCond $1 !^(redmine)
	RewriteRule ^(.*)$ study.php/$1 [L]
</IfModule>
